<!DOCTYPE html>
<html>
    <head>
        <meta name="theme-color" content="#99042E" charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style-login.css" />
    </head>
    <body>
       {% if messages %}
             {% for message in messages %}
                {{ message }}
             {% endfor %}
        {% endif %}
        <div id="hideBox">
            <div id="highBox">
				<div id="logoBox">
					<img src="assets/img/logo.png"/>
				</div>
                <center>
                	<form name="createEvent" method="post" action="">
                        {% csrf_token %}
                        <input type="text"
                               name="eventName"
                               id="eventName"
                               class="textbox"
                               value="eventName"
                               style="width: 300px;"
                               autocomplete="off"/><br><br>
                        <select id="activityName"  name="activityName">
                            <option value="">--choose an activity--</option>
                            {% for activity in a %}
                                <option value={{activity.name}}> {{activity.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="date"
                               name="date"
                               id="date"
                               class="date"
                               value="date"
                               style="width: 300px;"
                               autocomplete="off"
                               /><br><br>
                        <input type="submit" 
                               name="btn" 
                               value="createEvent" 
                               class="submitbutton"/>
                	</form>
                </center>
            </div>
            <br>
            <button onclick="window.location.href = 'http://localhost:8000/event/listEvents';" id="myButton" class="float-left submit-button" >see events</button>
            <button onclick="window.location.href = 'http://localhost:8000/event/listActivities';" id="myButton" class="float-left submit-button" >see activities</button>
            <button onclick="window.location.href = 'http://localhost:8000/event/createActivity';" id="myButton" class="float-left submit-button" >create Activity</button>
            <button onclick="window.location.href = 'http://localhost:8000/event/myEvents';" id="myButton" class="float-left submit-button" >my events</button>
    
    </body>
</html>