<html>
    <body>
        <table>
            <tr>
              <th>event name</th>
              <th>activity</th>
              <th>created by</th>
              <th>created_on</th>
              <th>date</th>
            </tr>
            {% for event in e %}
                <tr>
                    <td>{{event.name}}</td>
                    <td>{{event.activity.name}}</td>
                    <td>{{event.createdby}}</td>
                    <td>{{event.created_on}}</td>
                    <td>{{event.date}}</td>
                </tr>
            {% endfor %}
            
          </table>
          <button onclick="window.location.href = 'http://localhost:8000/event/listActivities';" id="myButton" class="float-left submit-button" >see activities</button>
          <button onclick="window.location.href = 'http://localhost:8000/event/createEvent';" id="myButton" class="float-left submit-button" >create Event</button>
          <button onclick="window.location.href = 'http://localhost:8000/event/createActivity';" id="myButton" class="float-left submit-button" >create Activity</button>
          <button onclick="window.location.href = 'http://localhost:8000/event/myEvents';" id="myButton" class="float-left submit-button" >my events</button>
  
    </body>
</html>