<html>
    <body>
        <h1>WELCOME TO HAPPY RETIREE {{userName}}</h1>
        {% if messages %}
             {% for message in messages %}
                {{ message }}
             {% endfor %}
        {% endif %}
        <form name="logout" method="get" action="logout">
            <input type="submit" 
                               name="logout" 
                               value="logout" 
                               class="submitbutton"/>
        </form>

        <button onclick="location.href = '../event/listevents';" id="myButton" class="float-left submit-button" >see events</button>
        <button onclick="location.href = '../event/listactivities';" id="myButton" class="float-left submit-button" >see activities</button>
        <button onclick="location.href = '../event/createEvent';" id="myButton" class="float-left submit-button" >create Event</button>
        <button onclick="location.href = '../event/createActivity';" id="myButton" class="float-left submit-button" >create Activity</button>
        <button onclick="location.href = '../event/myEvents';" id="myButton" class="float-left submit-button" >my events</button>



    </body>
</html>